@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;1,800&display=swap");
/*font-family: 'Kanit', sans-serif;*/
/* ! media max 768 */
@media screen and (max-width: 768px) {
}
/* ! media max 576 */
@media screen and (max-width: 576px) {
  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding-top: 591.44px / 1127.34px * 100%; */
  }

  /* !address */
  .address-container {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 2;
    display: flex;
    width: 45%;
    justify-content: flex-end;
  }
  .address-container p {
    width: 100%;
    height: 100%;
    font-family: "Kanit", sans-serif;
    display: flex;
    /* position: absolute; */
    /* animation: addressFade 6s ease-in; */
  }

  @keyframes addressFade {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

  .pin {
    fill: red;

    position: absolute;
  }

  .pin-container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /* !date */
  .clock {
    margin-left: 5%;
    fill: red;
  }

  .date-container {
    position: absolute;
    z-index: 2;
    font-family: "Kanit", sans-serif;
    bottom: 5%;
    left: 5%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 45%;
  }
  .opening-times-btn {
    color: red;
    text-decoration: none;
  }
  .opening-times-btn:active {
    color: red;
  }
  /* ! SVG vidline animation */

  .svgContainer1 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    /* border: 2px solid blue; */
    overflow: hidden;
  }
  .svgContainer2 {
    width: 100%;
    /* height: 100%; */
    position: absolute;
    z-index: 2;
    /* border: 2px solid purple; */
    bottom: 0;
    overflow: hidden;
  }

  /* !VID */
  .video-container {
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border-left: 2px solid black; */
  }
  .videobg {
    position: absolute;
    z-index: 1;
    background-color: white;
    border-left: 5px solid black;
    width: 100%;
    height: 97%;
    clip-path: polygon(
      50% 0,
      80% 10%,
      100% 10%,
      100% 70%,
      100% 90%,
      51% 90%,
      20% 90%,
      0 100%,
      0 0,
      22% 0
    );
    bottom: 3.5%;
  }
  .videobg2 {
    position: absolute;
    z-index: 1;
    /* !dont delete this bg */
    background-color: black;
    width: 100%;
    height: 99%;

    bottom: 2%;
    animation: vidbg 1s ease forwards;
    animation-delay: 2s;
  }

  @keyframes vidbg {
    0% {
      right: 0;
    }

    100% {
      right: 100%;
    }
  }
  video {
    border-left: 1px solid black;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 95%;
    z-index: 1;
    clip-path: polygon(
      50% 0,
      80% 10%,
      100% 10%,
      100% 70%,
      100% 90%,
      51% 90%,
      20% 90%,
      0 100%,
      0 0,
      22% 0
    );
  }
  .vidFade {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: black;
    animation: vidFade-bg 4s ease-in forwards;
    /* animation-delay: 1s; */
  }
  @keyframes vidFade-bg {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }

  .vidLine1 .vidLine2 {
    width: auto;
    height: auto;
  }

  /* #topline {
    stroke-dasharray: 662.3141479492188;
    stroke-dashoffset: 662.3141479492188;
    animation: line1Animate 5s ease;
    animation-fill-mode: forwards;
  }
  @keyframes line1Animate {
    to {
      stroke-dashoffset: 0;
    }
    from {
      stroke-dashoffset: 662.3141479492188;
    }
  } */

  /* #bottomline {
    stroke-dasharray: 687.11669921875;
    stroke-dashoffset: 687.11669921875;
    animation: line2Animate 4s ease;
    animation-fill-mode: forwards;
  }
  @keyframes line2Animate {
    to {
      stroke-dashoffset: 0;
    }
    from {
      stroke-dashoffset: 687.11669921875;
    }
  } */

  /* .s0 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 6;
    position: absolute;
    width: 100%;
  } */
}
