@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;1,800&display=swap");
/*font-family: 'Kanit', sans-serif;*/
@media screen and (max-width: 576px) {
  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding-top: 591.44px / 1127.34px * 100%; */
  }
  /* !VID */
  video {
    border: 2px dotted red;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
      clip-path: url(#clipPath);
  }
  
  }
  /* !address */
  .address-container {
    /* border: 2px solid red; */
    position: absolute;
    bottom: 15%;
    right: 5%;
    z-index: 2;
    display: flex;
    width: 45%;
    justify-content: flex-end;
  }
  .address-container p {
    font-family: "Kanit", sans-serif;
    display: flex;
  }
  .pin {
    fill: red;
  }
  .pin-container {
    display: flex;
    align-items: center;
    margin: 3%;
  }
  /* !date */
  .clock {
    margin-left: 5%;
    fill: red;
  }

  .date-container {
    position: absolute;
    z-index: 2;
    font-family: "Kanit", sans-serif;
    bottom: 15%;
    left: 5%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 45%;
  }
  .opening-times-btn {
    color: red;
    text-decoration: none;
  }
  .opening-times-btn:active {
    color: red;
  }
  /* ! SVG vidline animation */

  .svgContainer {
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 5;
    border: 2px solid blue;
    /* overflow: hidden; */
  }
  .vidLine {
    width: auto;
    height: auto;
    /* border: 2px solid red; */
  }
 
  #topline {
    stroke-dasharray: 662.3141479492188;
    stroke-dashoffset: 662.3141479492188;
    animation: line1Animate 5s ease;
    animation-fill-mode: forwards;
  }
  @keyframes line1Animate {
    to {
      stroke-dashoffset: 0;
    }
    from {
      stroke-dashoffset: 662.3141479492188;
    }
  }

  #bottomline {
    stroke-dasharray: 687.11669921875;
    stroke-dashoffset: 687.11669921875;
    animation: line2Animate 4s ease;
    animation-fill-mode: forwards;
  }
  @keyframes line2Animate {
    to {
      stroke-dashoffset: 0;
    }
    from {
      stroke-dashoffset: 687.11669921875;
    }
  }

  .s0 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 6;
    position: absolute;
    width: 100%;
  }
}
