*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    width: 390px;
    height: 844px;
    background-color: aqua;
    overflow-x:hidden ;


}

.overlay{
    
    background: black;
    height: 100%;
    width: 100%;
    animation: slide 2s ease forwards; 
    position: absolute;
    z-index: 2;
}

.overlay1{
    background: red;
    height: 100%;
    width: 100%;
    position: absolute;
    animation: slide 3s ease forwards;
    z-index: 1;
}

@keyframes slide {
    from{transform: translateX(0em);}
    to {transform: translateX(-100em);}

    
}

.container{
    height:100%;
    width: 100%;
    background-color: black;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ! NAV */
.nav{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    border: 2px solid red;
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 0px;
    width: 100%;
}
.nav-links{
    display: flex;
    position: absolute;
    border: 3px solid blue;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    right:0px;
    height: 92vh;
    top: 8vh;
    transition: transform 0.5s ease-in;
}
.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    
}
.nav-links li {
    list-style: none;
    opacity: 0;
}
.footer{
    width: 100vw;
    height: 10vw;
    border: 2px solid red;

}

.line1, .line2{
    width: 10px;
    border-top: 3px red solid;
    height: 12px;
}
.burger{
    display: block;
    cursor: pointer;
}

.nav-active {
    transform: translateX(0%);
}
/* ////////////////// */
#logo{
    position: absolute;
    top: 10;
    left: 5;
    height: 100px;
    width: 100px;
}

.parent{
    height: 50vh;
    width: 50vw;
    border: red solid 1px;
    position: absolute;
    left: 25%;
    perspective: 19px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.child{
    height: 50px;
    width: 50px;
    background-color: red;
  

   position: absolute;
    transform: rotateX(4deg) rotateY(0deg);
transform-style: preserve-3d;
}

.child::before{
    content: "";
    transform:translateY(10%);
    height: 50px;
    width: 50px;
    background-color: rgb(0, 8, 255);
   position: absolute;
    transform: rotateX(4deg) rotateY(0deg);
transform-style: preserve-3d;
}


@media screen and (min-width:1000px) and (max-width: 1600px){

    body{
        width: 100wv;
        height: 100vh;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color: grey;
        width: 100%;
    }
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 30%;
        border: 2px solid green;
        flex-direction: row;
        top:0px;
        height: 8vh;
        transform: translateX(0%);
        transition: none;

    }
    .burger{
        display: none;
    }
    .nav-links li {
        list-style: none;
        opacity: 100;
    }
}