* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 390px;
  height: 844px;
  background-color: aqua;
  overflow-x: hidden;
  color: white;
}

.overlay {
  background: black;
  height: 100%;
  width: 100%;
  animation: slide 2s ease forwards;
  position: absolute;
  z-index: 2;
}

.overlay1 {
  background: red;
  height: 100%;
  width: 100%;
  position: absolute;
  animation: slide 3s ease forwards;
  z-index: 1;
}

@keyframes slide {
  from {
    transform: translateX(0em);
  }
  to {
    transform: translateX(-100em);
  }
}

.container {
  height: 100%;
  width: 100%;
  background-color: black;
  color: red;
  display: flex;
}

/* ! NAV */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  /* border: 2px solid red; */
  position: absolute;
  z-index: 100;
  top: 0px;
  right: 0px;
  width: 100%;
}
.nav-socials {
  display: flex;
  position: absolute;
  /* border: 3px solid blue; */
  flex-direction: column;
  align-items: center;
  width: 30%;
  transform: translateX(100%);
  right: 0px;
  height: 92vh;
  top: 8vh;
  transition: transform 0.5s ease-in;
}
.nav-socials a {
  text-decoration: none;
  letter-spacing: 3px;
}
.nav-socials li {
  list-style: none;
  opacity: 0;
}
.footer {
  width: 100vw;
  height: 10vw;
  border: 2px solid red;
}
/* ! burger */
.burger {
  display: block;
  cursor: pointer;
}
.line1,
.line2 {
  width: 25px;
  /* border-top: 3px red solid; */
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(1px, 3px);
}
.toggle .line2 {
  transform: rotate(45deg) translate(-1px, -5px);
}
/* ! JAVA */
.nav-active {
  transform: translateX(0%);
}
/* ! NAV KEYFRAMES */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* ////////////////// */
#logo {
  position: absolute;
  top: 10;
  left: 5;
  height: 100px;
  width: 100px;
}

.parent {
  height: 50vh;
  width: 50vw;
  border: red solid 1px;
  position: absolute;
  left: 25%;
  perspective: 19px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.child {
  height: 50px;
  width: 50px;
  background-color: red;

  position: absolute;
  transform: rotateX(4deg) rotateY(0deg);
  transform-style: preserve-3d;
}

.child::before {
  content: "";
  transform: translateY(10%);
  height: 50px;
  width: 50px;
  background-color: rgb(0, 8, 255);
  position: absolute;
  transform: rotateX(4deg) rotateY(0deg);
  transform-style: preserve-3d;
}
/* ! FULLSCREEN */
@media screen and (min-width: 1000px) {
  body {
    width: 1080px;
    height: 100vh;
    color: white;
  }
  nav {
    position: absolute;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: grey;
    width: 100%;
  }
  .nav a {
    text-decoration: none;
    color: white;
  }
  .nav-links {
    position: relative;
    display: flex;
    /* border: 2px solid blue; */
    align-items: center;
    width: 50%;
    top: 0px;
    height: 100%;
    transform: translateX(0%);
    transition: none;
  }
  .nav-links ul {
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid brown; */
    width: 100%;
    min-height: 8vh;
    align-items: center;
  }

  .nav-socials {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 30%;
    /* border: 2px solid green; */
    flex-direction: row-reverse;
    top: 0px;
    height: 100%;
    transform: translateX(0%);
    transition: none;
  }
  .burger {
    display: none;
  }
  .nav-socials li,
  .nav-links li {
    list-style: none;
    opacity: 100;
  }

  /* ! nav - mobile number */

  .mobileNum::after {
    background-color: red;

    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 400ms ease-in-out;
  }

  .mobileNum:hover::after,
  .mobileNum:focus::after {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  .mobileNum {
    z-index: 1;
    padding: 2px;
  }

  .mobileNumBox {
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.836);
    top: 0;
    right: 0;
    bottom: 0;
    margin: 3px;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 85%;
    transition: transform 0.5s ease-in;
  }
}
