@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
/*font-family: 'Noto Serif', serif;*/

@media screen and (max-width: 576px) {
  .menu-container {
    padding: 2%;
    flex-direction: column;
    background-color: black;
    font-family: "Noto Serif", serif;
    height: auto;
    color: white;
  }
  .menu-title {
    font-size: 4rem;
    margin-bottom: 10%;
  }
  .menu-headings {
    display: flex;
    align-items: center;
    /* border: yellow solid 2px; */
    padding: 7% 0%;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: auto;
    white-space: nowrap;
    margin: 1% 0%;
  }
  .heading-container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 18%;
    letter-spacing: 0.1rem;
  }
  .heading-container h3 {
    margin: 2%;
    cursor: pointer;
    margin-bottom: 5%;
    font-size: 2.2rem;
  }
  .heading-container:hover {
    cursor: pointer;
    color: red;
  }
  .underline {
    display: inline-block;
  }

  .underline:after {
    content: "";
    width: 0px;
    height: 4px;
    display: block;
    background: red;
    transition: 300ms;
  }

  .underline:hover:after {
    width: 120%;
  }

  .scroll-guide {
    width: 80vw;
    font-size: 1rem;
    margin-bottom: 10%;
  }

  .menu-box {
    /* border: 2px solid green; */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1% 0;
  }
  /*? opening times */
  .menu-info {
    /* border: 2px solid red; */
    font-size: 1rem;
    margin-top: 1%;
  }
  .takeout {
    margin-bottom: 5%;
  }
  .mains-container,
  .sides-container,
  .drinks-container {
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* margin: 5% 0; */
  }
  .mains-container2,
  .sides-container2 {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  /* !mains */
  /* container for each main */
  .mains-item {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    margin-bottom: 10%;
  }

  /*? title and price container*/
  .item-info {
    /* border: 2px dotted red; */
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.7rem;
    color: red;
  }
  .mains-description {
    /* border: 2px solid brown; */
    width: 70%;
    font-size: 1.2rem;
  }

  /* !SIDES */

  /* sides container */
  /* .sides-item {
    border: 2px solid red;
    width: 100%;
    font-size: 1.7rem;
    margin-bottom: 10%;
    display: flex;
    color: red;
    align-items: center;
  } */
  .sides-title {
    /* border: 2px solid blue; */
    width: 70%;
  }

  .sides-item p.price {
    margin-left: auto;
  }
  .sides-info {
    font-size: 1rem;
  }
  /* !DRINKS */
  .drinks-items-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .drinks-container2 {
    display: flex;
    flex-direction: column;

    /* flex-wrap: wrap; */
  }
  .drinks-item {
    height: 10%;
    width: 60%;
    margin: 2%;
    display: flex;
  }
  .drinks-item p {
    margin-left: 7%;
  }
  .drinks-item p.price {
    margin-left: auto;
  }
}
