@media screen and (max-width: 576px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
  }
  .mains-container {
    display: flex;
    flex-direction: column;
    /* height: 50%; */
    /* position: absolute;
    margin-top: 10%; */
  }
  .mains-items-container {
    display: flex;
    flex-direction: column;
  }
  .mains-item {
    height: 90%;
    width: 60%;
    margin: 2% 5%;
  }
  .mains-item h5 {
    font-size: 1.2rem;
    margin-bottom: 2%;
  }
  .mains-item p {
    margin-bottom: 2%;
  }
  .mains-container2 {
    display: flex;
    flex-direction: column;
  }

  .menu-headings {
    display: flex;
  }

  .menu-headings h3 {
    margin: 2%;
    cursor: pointer;
    margin-bottom: 5%;
  }
  .menu-headings h3:hover {
    cursor: pointer;
    font-size: 1.2rem;
  }
  .heading-container {
    margin: 5%;

    height: 50%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sides-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .side-items-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .sides-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sides-item {
    height: 10%;
    width: 30%;
    border: yellow solid 2px;
    margin: 2%;
  }

  .drinks-container {
  }
  .drinks-items-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .drinks-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .drinks-item {
    height: 10%;
    width: 20%;
    margin: 2%;
  }
}
