@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
/*font-family: 'Noto Serif', serif;*/

@media screen and (max-width: 576px) {
  .menu-container {
    padding: 10vh 2% 0 2%;
    /* padding: 2%; */
    flex-direction: column;
    background-color: black;
    /* font-family: "Noto Serif", serif; */
    height: auto;
    color: white;
  }
  .menu-title {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    margin-bottom: 10%;
  }
  .menu-headings {
    display: flex;
    align-items: center;
    /* border: yellow solid 2px; */
    padding: 6% 0%;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: auto;
    white-space: nowrap;
  }
  .heading-container {
    /* border: yellow solid 2px; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20%;
    letter-spacing: 0.2rem;
  }
  .heading-container h3 {
    /* border: yellow solid 2px; */
    font-size: 2.7rem;
    cursor: pointer;
  }
  /* java */
  .mains-active {
    color: red;
    border-bottom: 0.4rem solid red;
  }

  /* //////// */
  .heading-container:hover {
    cursor: pointer;
    color: red;
  }
  .underline {
    display: inline-block;
  }

  .underline:after {
    content: "";
    width: 0px;
    height: 0.4rem;
    display: block;
    background: red;
    transition: 300ms;
  }

  .underline:hover:after {
    width: 100%;
  }

  .scroll-guide {
    width: 60vw;
    font-size: 1.4rem;
    margin-bottom: 10%;
  }

  .menu-box {
    /* border: 2px solid green; */
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1% 0;
  }
  /*? opening times */
  .menu-info {
    /* border: 2px solid red; */
    font-size: 1.4rem;
    margin-top: 1%;
  }
  .takeout {
    margin-bottom: 5%;
  }
  .mains-container,
  .sides-container,
  .drinks-container {
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .mains-container2,
  .sides-container2 {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  /* !mains */
  /* container for each main */
  .mains-item {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    margin-bottom: 10%;
  }

  /*? title and price container*/
  .item-info {
    /* border: 2px dotted red; */
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 2.7rem;
    color: white;
  }
  .mains-description {
    /* border: 2px solid brown; */
    color: darkgray;
    width: 70%;
    font-size: 1.7rem;
  }

  /* !SIDES */

  .sides-title {
    /* border: 2px solid blue; */
    width: 70%;
  }

  .sides-item p.price {
    margin-left: auto;
  }
  .sides-info,
  .fine-print {
    font-size: 1.4rem;
    color: white;
    /* border: 2px solid blue; */
  }
  /* !DRINKS */
  .drinks-items-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 2px solid red; */
  }

  .drinks-container2 {
    /* border: 2px solid red; */
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .drinks-info {
    /* border: 2px solid blue; */

    margin-bottom: 10%;
  }

  .drinks-item p.price {
    margin-left: auto;
  }
  /* fine print */
  .pageTop {
    /* border: 2px solid red; */
    width: 20vw;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 70vw;
    cursor: pointer;
  }
  .pageTop a {
    text-decoration: none;
    color: white;
  }

  /* back to top of page section */
  .arrow {
    stroke: white;
    height: auto;
    animation: arrowBounce 2s ease-in-out infinite;
  }

  @keyframes arrowBounce {
    0%,
    25%,
    50%,
    75%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-5px);
    }
    60% {
      transform: translateY(-2px);
    }
  }

  .arrow-active {
    stroke-dasharray: 95.950610351565;
    stroke-dashoffset: 95.950610351565;
    animation: arrowDraw 1.4s ease-in-out forwards 500ms;
  }

  @keyframes arrowDraw {
    to {
      stroke-dashoffset: 0;
    }
    from {
      stroke-dashoffset: 95.950610351565;
    }
  }
}
