.overlay {
  background: black;
  height: 100%;
  width: 100%;
  animation: slide 4s ease forwards;
  position: absolute;
  z-index: 2;
}

.overlay1 {
  background: red;
  height: 100%;
  width: 100%;
  position: absolute;
  animation: slide 5s ease forwards;
  z-index: 1;
}

@keyframes slide {
  from {
    transform: translateX(0em);
  }
  to {
    transform: translateX(-150em);
  }
}

/* ! NAV */
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 8vh;
  position: fixed;
  z-index: 100;
  top: 0px;
  right: 0px;
  width: 100%;
}
.nav-links {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
  width: 35%;
  transform: translateX(100%);
  right: 0%;
  height: 100vh;
  top: 0vh;
  transition: transform 0.5s ease-in;
  background-color: rgba(128, 128, 128, 0.527);
}
.nav-menuBox {
  margin-top: 15%;
  height: 35%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}
.nav-menu {
  padding: 5px;
}
.nav-menu a {
  color: white;
  font-size: 1rem;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
}
.nav-links li {
  list-style: none;
  opacity: 0;
  margin: 2px;
}
.icon-container {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.footer {
  width: 100vw;
  height: 10vw;
  border: 2px solid red;
}
/* ! burger */
.burger {
  display: block;
  cursor: pointer;
  top: 10px;
  position: absolute;
  right: 50px;
}
.line1,
.line2 {
  width: 25px;
  border-top: 3px red solid;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(1px, 3px);
}
.toggle .line2 {
  transform: rotate(45deg) translate(-1px, -5px);
}
/* ! JAVA */
.nav-active {
  transform: translateX(0%);
}
/* ! NAV KEYFRAMES */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* ! MOBILE link */
.mobileNum::after {
  background-color: red;

  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 400ms ease-in-out;
}

.mobileNum:hover::after,
.mobileNum:focus::after {
  transform: scaleY(1);
  transform-origin: bottom;
}
.mobileNum {
  z-index: 1;
  padding: 2px;
  font-size: 0.8rem;
  justify-content: center;
  display: flex;
}

.mobileNumBox {
  position: relative;
  border: 2px solid rgba(252, 252, 252, 0.836);
  margin-bottom: 15%;
  padding: 2px;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in;
  width: 100%;
}
.mobileNum p a {
  color: white;
}
/* ?nav end */
/* ////////////////// */
#logo {
  position: absolute;
  top: 10;
  left: 5;
  height: 100px;
  width: 100px;
}

.parent {
  height: 50vh;
  width: 50vw;
  border: rgb(255, 255, 255) solid 1px;
  position: absolute;
  left: 25%;
  perspective: 19px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.child {
  height: 50px;
  width: 50px;
  background-color: red;

  position: absolute;
  transform: rotateX(4deg) rotateY(0deg);
  transform-style: preserve-3d;
}

.child::before {
  content: "";
  transform: translateY(10%);
  height: 50px;
  width: 50px;
  background-color: rgb(0, 8, 255);
  position: absolute;
  transform: rotateX(4deg) rotateY(0deg);
  transform-style: preserve-3d;
}
i {
  color: white;
  font-size: 1.5rem;
}
i:hover {
  color: red;
}
.logo {
  height: 8vh;
}

.footer {
  position: absolute;
  bottom: 0px;
}

/* ! FULLSCREEN */
@media screen and (min-width: 1000px) {
  .container {
    min-width: 100vw;
    height: 100vh;
    color: white;
  }

  nav {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 9vh;
    background-color: grey;
    width: 100%;
  }
  .nav a {
    text-decoration: none;
    color: white;
  }
  .nav-links {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0px;
    height: 100%;
    transform: translateX(0%);
    transition: none;
    flex-direction: row;
  }

  .nav-links ul {
    display: flex;
  }
  .nav-menuBox {
    width: 50%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 0px;
  }
  .nav-menu {
    font-size: 1.1rem;
    font-family: "Kanit", sans-serif;
  }
  .nav-menu a {
    font-size: 1.3rem;
  }

  .nav-menu a:hover {
    color: red;
  }

  .nav-socials {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 30%;
    margin-right: 5px;
  }
  .nav-socials li {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    width: 40%;
  }
  .burger {
    display: none;
  }

  .nav-links li,
  .nav-links li {
    list-style: none;
    opacity: 100;
  }

  /* ! nav - mobile number */

  .mobileNum::after {
    background-color: red;

    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 400ms ease-in-out;
  }

  .mobileNum:hover::after,
  .mobileNum:focus::after {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  .mobileNum {
    z-index: 1;
    padding: 2px;
    font-size: 18px;
    width: 90%;
    justify-content: center;
    display: flex;
  }

  .mobileNumBox {
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.836);
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 3px;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 100%;
    transition: transform 0.5s ease-in;
    justify-content: center;
  }
  .logo {
    display: inline-block;
    height: 7vh;
    margin-left: 10px;
  }
}
/* !MEDIA 993PX - 1200PX */
@media (min-width: 993px) and (max-width: 1200px) {
  .container {
    min-width: 100vw;
    height: 100vh;
    color: white;
  }
  nav {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 9vh;
    background-color: grey;
    width: 100%;
  }
  .nav a {
    text-decoration: none;
    color: white;
  }
  .nav-links {
    /* flex-direction: column-reverse; */
    position: relative;
    display: flex;

    align-items: center;
    width: 100%;
    top: 0px;
    height: 100%;
    transform: translateX(0%);
    transition: none;
    flex-direction: row;
  }

  .nav-links ul {
    display: flex;
  }
  .nav-menuBox {
    width: 70%;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    flex-direction: row;
    margin: 0px;
  }
  .nav-menu {
    font-size: 1.1rem;
    font-family: "Kanit", sans-serif;
  }
  .nav-menu a {
    margin: 0px 5px;
    font-size: 1.2rem;
  }

  .nav-menu a:hover {
    color: rgb(96, 96, 96);
  }

  .nav-socials {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 40%;
    margin-right: 5px;
  }
  .nav-socials li {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    width: 40%;
  }
  .burger {
    display: none;
  }

  .nav-links li,
  .nav-links li {
    list-style: none;
    opacity: 100;
  }

  /* ! nav - mobile number */

  .mobileNum::after {
    background-color: red;

    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 400ms ease-in-out;
  }

  .mobileNum:hover::after,
  .mobileNum:focus::after {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  .mobileNum {
    z-index: 1;
    padding: 2px;
    font-size: 18px;
    width: 90%;
    justify-content: center;
    display: flex;
  }

  .mobileNumBox {
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.836);
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 3px;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 100%;
    transition: transform 0.5s ease-in;
    justify-content: center;
  }
  .logo {
    display: inline-block;
    height: 7vh;
    margin-left: 10px;
  }
}
/* ! media max 992px */
@media (min-width: 769px) and (max-width: 992px) {
  .container {
    min-width: 100vw;
    height: 100vh;
    color: white;
  }
  nav {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 9vh;
    background-color: grey;
    width: 100%;
  }
  .nav a {
    text-decoration: none;
    color: white;
  }
  .nav-links {
    position: relative;
    display: flex;

    align-items: center;
    width: 100%;
    top: 0px;
    height: 100%;
    transform: translateX(0%);
    transition: none;
    flex-direction: row;
  }

  .nav-links ul {
    display: flex;
  }
  .nav-menuBox {
    width: 50%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 0px;
  }
  .nav-menu {
    font-size: 0.8rem;
    font-family: "Kanit", sans-serif;
  }
  .nav-menu a {
    font-size: 1rem;
  }

  .nav-menu a:hover {
    color: rgb(96, 96, 96);
  }

  .nav-socials {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 40%;
    margin-right: 5px;
  }
  .nav-socials li {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    width: 40%;
  }
  .burger {
    display: none;
  }

  .nav-links li,
  .nav-links li {
    list-style: none;
    opacity: 100;
  }

  /* ! nav - mobile number */

  .mobileNum::after {
    background-color: red;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: -1;
    position: absolute;

    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 400ms ease-in-out;
  }

  .mobileNum:hover::after,
  .mobileNum:focus::after {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  .mobileNum {
    z-index: 1;
    padding: 2px;
    font-size: 18px;
    width: 90%;
    justify-content: center;
    display: flex;
  }

  .mobileNumBox {
    position: relative;
    border: 2px solid red;
    /* border: 2px solid rgba(255, 255, 255, 0.836); */

    width: 100%;
    margin: 3px;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 100%;
    transition: transform 0.5s ease-in;
    justify-content: center;
  }
  .logo {
    display: none;
  }
}

/*! MEDIA max 768px  */
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    min-width: 100vw;
  }
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .burger {
    margin-top: 1%;
    right: 2%;
  }

  .logo {
    display: inline-block;
    height: 8vh;
  }
  .nav-links {
    width: 40%;
  }
  .mobileNumBox {
    width: 100%;
  }
}
