@media screen and (max-width: 576px) {
  .about-container {
    padding: 10vh 2% 2% 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
  }

  .about-container img {
    height: 20vh;
  }
  .swiper {
    width: 100%;
    height: 30vh;
  }
  .swiper-slide {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  .swiper-slide img {
    display: block;
    width: 90%;
  }

  .swiper-button-prev {
    color: rgba(255, 255, 255, 0) !important;
    margin-right: -25px;
  }
  .swiper-button-next {
    margin-right: -25px;
    color: rgba(255, 255, 255, 0) !important;
  }

  .swiper-pagination {
    color: white !important;
  }
  .swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.531) !important;
    opacity: 1 !important ;
  }
  .swiper-pagination-bullet-active {
    background-color: rgb(255, 0, 0) !important ;
  }
}
