@media screen and (max-width: 576px) {
  .about-container {
    padding: 10vh 2% 2% 2%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
  }
  .trap-building {
    border: 2px solid red;
    position: absolute;
    width: 100%;
    top: 0;
  }
  .about-pages {
    border: 2px solid blue;
    overflow-y: auto;
    height: 100vh;
    position: absolute;
    top: 35%;
    z-index: 5;
  }
  /* !! about = concept wrapper */
  .concept-wrapper {
    /* overflow-y: auto; */
    position: relative;
    border: 2px solid red;
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
  }
  .concept-wrapper img {
    height: 250px;
    /* width: 300px; */
  }

  /* !! title = concept-logo-container */
  .concept-logo-container {
    background-color: black;
    z-index: 2;
    border: 2px solid red;
    /* width: 100%;
    height: 33.3%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }
  /* !! about-pages = img container  */
  .about-pages {
    border: 2px solid green;
    /* position: absolute; */
    width: 100%;
    height: 100%;
  }
  .about-pages div {
    height: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .about-pages div:nth-child(odd) {
    background-color: burlywood;
  }
  .about-pages div > p {
    color: red;
    width: 80%;
    font-size: 2.7rem;
  }
}
