@media screen and (max-width: 576px) {
  .about-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /* !! about = concept wrapper */
  .concept-wrapper {
    height: 300vh;
    width: 100%;
    display: flex;
  }
  .concept-wrapper img {
    height: 200px;
    width: 200px;
  }
  /* !! title = concept-logo-container */
  .concept-logo-container {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }
  /* !! about-pages = img container  */
  .about-pages {
    width: 50%;
  }
  .about-pages div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .about-pages div:nth-child(odd) {
    background-color: burlywood;
  }
  .about-pages div > p {
    color: red;
    width: 80%;
    font-size: 2.7rem;
  }
}
