@media screen and (max-width: 576px) {
  /* ! wrapper for whole section */
  .main-contact-container {
  }
  /* !open hours */

  /* !Main Containers and styles */
  .contact-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(225, 225, 225);
    position: relative;
    padding-top: 10vh;
  }
  .contact-heading {
    width: 90%;
  }

  .contact-main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    height: 10vh;
  }
  .contact-container a {
    color: rgb(224, 224, 224);
    text-decoration: none;
    cursor: pointer;
  }
  .contact-container h2 {
    color: rgb(242, 73, 73);
    font-size: 3.4rem;
    /* letter-spacing: 1px; */
    position: relative;
    left: 0;
    margin: 5% 0;
    font-family: Sora;
  }
  .contact-container h3 {
    margin-bottom: 2%;

    font-size: 3rem;
    color: rgb(242, 73, 73);
  }
  .contact-container p {
    font-size: 2rem;
    color: rgb(227, 227, 227);
    letter-spacing: 1px;
  }

  /* !Map Styling */
  .map-container {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 105;
  }
  .maps {
    border-radius: 2%;
    margin: 5% 0;
  }

  /* !Container for business hours, 
  ! find us, and call us sections */
  .contact-information-container {
    width: 70%;
  }

  /* !Business Hours Styling */
  .openHours-container {
    position: relative;
    z-index: 2;
    font-family: "Kanit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* border-bottom: solid rgb(255, 255, 255) 2px; */
    height: 25vh;
    width: 100%;
    /* border: solid white 2px; */
    margin: 5% 0%;
  }
  .contact-heading-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .business-hours {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  /* !Address Stylings */
  .address-container1 {
    z-index: 2;
    font-family: "Kanit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 30vh;
    width: 100%;
    flex-direction: column;

    margin: 5% 0%;
  }

  .address-container1 a {
    text-decoration: none;
    margin: 0;
  }
  .address-heading {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .address-and-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  /* !Styling for Call us now */
  .contact {
    z-index: 2;
    font-family: "Kanit", sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    height: 15vh;
    width: 100%;
    margin: 15% 0%;
  }
  .contact-heading1 {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .number-atag {
    margin-left: 3%;
  }
  .number {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  /* !Number Container for animation*/
  .mobileNumBox1 {
    position: relative;
    border: 2px solid rgba(252, 252, 252, 0.836);
    border-radius: 3%;
    margin-bottom: 15%;
    padding: 2px;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in;
    width: 65%;
  }

  .mobileNum1::after {
    background-color: red;

    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 400ms ease-in-out;
  }

  .mobileNum1:hover::after,
  .mobileNum1:focus::after {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  .mobileNum1 {
    z-index: 1;
    padding: 2px;
    font-size: 0.8rem;
    justify-content: center;
    display: flex;

    width: 100%;
  }

  /* !Stylings for animations */
  .fade-left {
    opacity: 0;
    transform: translateX(-30%);
    transition: opacity 150ms ease-in, transform 400ms ease-in;
    transition-delay: 0.5s;
  }

  .fade-left.appear {
    opacity: 1;
    transform: translateX(0);
  }
  .contact-fadeUp {
    opacity: 0;
    transition: opacity 3s ease-in forwards;
  }

  .contact-fadeUp.appear1 {
    opacity: 1;
  }

  .fade-up {
    transform: translateY(50%);
    transition: transform 400ms ease-in;
  }
  .fade-up.appear1,
  .contact-fadeUp.appear1 {
    transform: translateY(0);
    opacity: 1;
  }
}
