/* !Imports */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
/* font-family: 'Kanit', sans-serif;  */

/* !Main Footer Stylings */
footer {
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
}
.footer {
  height: 100vh;
  width: 100%;
  border-top: white 2px solid;
  font-family: "Kanit", sans-serif;
  padding-top: 10vh;
}
.footer-container {
  width: 110%;
  /* border: solid 2px red; */
}

.footer h3 {
  font-size: 2.4rem;
  color: white;
  letter-spacing: 3px;
}

.footer li {
  font-size: 1.9rem;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: rgb(126, 126, 126);
  margin: 2% 0%;
  letter-spacing: 1px;
}

.footer p,
a {
  font-size: 1.5rem;
}
.footer span a {
  text-decoration: underline;
}

.footer-item {
  margin-bottom: 4vh;
}

/* !Icons in Footer Styles */
.footer-icon-container {
  display: flex;
}
.footer-icon-container i {
  font-size: 2.5rem;
  margin: 5px 10px;
  color: rgb(126, 126, 126);
}
