/* !Main Footer Stylings */
footer {
  font-size: 2.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
}
.footer {
  height: auto;
  width: 100%;
}
.footer-container {
  width: 80%;

  /* border: solid 2px red; */
}

.footer h3 {
  font-size: 2.4rem;
  margin-top: 5vh;
  color: white;
  letter-spacing: 2px;
}

.footer li {
  font-size: 1.9rem;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: rgb(126, 126, 126);
  margin: 2% 0%;
  letter-spacing: 1px;
}

/* !Icons in Footer Styles */
.footer-icon-container {
  display: flex;
}
.footer-icon-container i {
  font-size: 3rem;
  margin: 5px 10px;
  color: rgb(126, 126, 126);
}
