@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;1,800&display=swap");
/*font-family: 'Kanit', sans-serif;*/
/* ! media max 768 */
@media screen and (max-width: 768px) {
}
/* ! media max 576 */
@media screen and (max-width: 576px) {
  .home-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* padding-top: 591.44px / 1127.34px * 100%; */
  }

  /* !address */
  .address-container {
    /* border: 2px solid blue; */
    position: absolute;
    bottom: 15%;
    right: 0;
    z-index: 3;
    display: flex;
    width: 80%;
    font-weight: bolder;
    animation: addressFade 2.5s ease-in 1s;
  }
  .address-container p {
    width: 100%;
    height: 100%;
    font-size: 2.7rem;
    color: black;
    /* border: 2px solid black; */
  }
  .address-container a {
    text-decoration: none;
  }
  @keyframes addressFade {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

  .pin {
    fill: red;

    position: absolute;
  }

  .pin-container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /* !date */
  .clock {
    /* padding-top: px; */
    display: flex;
    width: 5rem;
    height: 100%;
    /* border: 2px solid blue; */
  }
  /* clock svg animation */
  .clock1 {
    stroke-dasharray: 176.51873779296875;
    stroke-dashoffset: 176.51873779296875;
    animation: clockAni 2s ease-in forwards 1.8s;
    stroke: red;
  }

  @keyframes clockAni {
    to {
      stroke-dashoffset: 0;
    }
    from {
      stroke-dashoffset: 176.51873779296875;
    }
  }
  .date-container {
    /* border: 2px solid red; */
    position: absolute;
    align-items: center;
    z-index: 2;
    bottom: 4%;
    right: 5%;
    cursor: pointer;
    padding-left: 5%;
    display: flex;
    width: 85%;
    animation: addressFade 2s ease-in 1s;
  }
  #day {
    position: relative;
    font-size: 2.7rem;
  }
  .opening-times-btn {
    color: red;
    text-decoration: none;
  }
  .opening-times-btn:active {
    color: red;
  }
  /* ! SVG vidline animation */

  .svgContainer1 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    /* border: 2px solid orange; */
    overflow: hidden;
  }
  .svgContainer2 {
    width: 100%;
    /* height: 100%; */
    position: absolute;
    z-index: 2;
    /* border: 2px solid purple; */
    bottom: 0;
    overflow: hidden;
  }

  /* !VID */
  .video-container {
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border-left: 2px solid black; */
  }
  .videobg {
    position: absolute;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
    height: 97%;
    clip-path: polygon(
      50% 0,
      80% 10%,
      100% 10%,
      100% 70%,
      100% 90%,
      51% 90%,
      20% 90%,
      0 100%,
      0 0,
      22% 0
    );
    bottom: 4%;
  }
  .videobg2 {
    position: absolute;
    z-index: 100;
    /* !dont delete this bg */
    background-color: rgb(0, 0, 0);
    width: 105%;
    height: 100%;
    bottom: 5%;
    animation: vidbg 2s ease forwards;
    animation-delay: 2s;
  }

  @keyframes vidbg {
    0% {
      right: 0;
    }

    100% {
      right: 100%;
    }
  }
  video {
    border-left: 1px solid black;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 95%;
    z-index: 1;
    clip-path: polygon(
      50% 0,
      80% 10%,
      100% 10%,
      100% 70%,
      100% 90%,
      51% 90%,
      20% 90%,
      0 100%,
      0 0,
      22% 0
    );
  }
  .vidFade {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: 4;
    background-color: rgb(0, 0, 0);
    animation: vidFade-bg 4s ease-in forwards;
    /* animation-delay: 1s; */
  }
  @keyframes vidFade-bg {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }

  .vidLine1 .vidLine2 {
    width: auto;
    height: auto;
  }

  /* #topline {
    stroke-dasharray: 662.3141479492188;
    stroke-dashoffset: 662.3141479492188;
    animation: line1Animate 5s ease;
    animation-fill-mode: forwards;
  }
  @keyframes line1Animate {
    to {
      stroke-dashoffset: 0;
    }
    from {
      stroke-dashoffset: 662.3141479492188;
    }
  } */

  /* #bottomline {
    stroke-dasharray: 687.11669921875;
    stroke-dashoffset: 687.11669921875;
    animation: line2Animate 4s ease;
    animation-fill-mode: forwards;
  }
  @keyframes line2Animate {
    to {
      stroke-dashoffset: 0;
    }
    from {
      stroke-dashoffset: 687.11669921875;
    }
  } */

  /* .s0 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 6;
    position: absolute;
    width: 100%;
  } */
}
